*~
*.o
*.a
*.so
.depend*
nbproject/
*.mo
config.h
config.log
config.status
configure
libtool
mk/rules.mk
stamp-h1
autom4te.cache/
Makefile
*.pc
src/webtester/webtester.bin
src/frontend/gwebtester
src/librun/lrvm/lrvm
src/librun/kill/lrvm_kill
aclocal.m4
intltool-extract
intltool-merge
intltool-update
WT-VERSION-FILE
configure.in
debian/libwebtester
debian/webtester-gui
debian/webtester-core
debian/files
debian/*.log
*.class
